



    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="images/bg/20.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h1 class="upper">Our Portfolio<span class="red-dot"></span></h1>
                <h4>List of recent works.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <ul id="filters">
          <li data-filter="*" class="active">All</li>
          <li data-filter=".branding">Branding</li>
          <li data-filter=".graphic">Graphic</li>
          <li data-filter=".printing">Printing</li>
          <li data-filter=".video">Video</li>
        </ul>
        <!-- end of portfolio filters-->
        <div id="works" class="three-col">
          <div class="work-item branding video">
            <div class="work-detail">
              <a href="portfolio-single-1.html">
                <img src="images/portfolio/1.jpg" alt="">
                <div class="work-info">
                  <div class="centrize">
                    <div class="v-center">
                      <h3>Neleman Cava</h3>
                      <p>Branding, Video</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="work-item graphic printing">
            <div class="work-detail">
              <a href="portfolio-single-1.html">
                <img src="images/portfolio/2.jpg" alt="">
                <div class="work-info">
                  <div class="centrize">
                    <div class="v-center">
                      <h3>Sweet Lane</h3>
                      <p>Graphic, Printing</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="work-item printing branding">
            <div class="work-detail">
              <a href="portfolio-single-1.html">
                <img src="images/portfolio/3.jpg" alt="">
                <div class="work-info">
                  <div class="centrize">
                    <div class="v-center">
                      <h3>Jeff Burger</h3>
                      <p>Printing, Branding</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="work-item video graphic">
            <div class="work-detail">
              <a href="portfolio-single-1.html">
                <img src="images/portfolio/4.jpg" alt="">
                <div class="work-info">
                  <div class="centrize">
                    <div class="v-center">
                      <h3>Juice Meds</h3>
                      <p>Video, Graphic</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="work-item branding graphic">
            <div class="work-detail">
              <a href="portfolio-single-1.html">
                <img src="images/portfolio/5.jpg" alt="">
                <div class="work-info">
                  <div class="centrize">
                    <div class="v-center">
                      <h3>Prisma</h3>
                      <p>Graphic, Branding</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="work-item printing graphic">
            <div class="work-detail">
              <a href="portfolio-single-1.html">
                <img src="images/portfolio/6.jpg" alt="">
                <div class="work-info">
                  <div class="centrize">
                    <div class="v-center">
                      <h3>Delirio Tropical</h3>
                      <p>Printing, Graphic</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- end of portfolio grid-->
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="images/promo-image-1.png" alt="" class="mt-50">
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="title txt-xs-center txt-sm-center">
              <h3>Let's Work Together<span class="red-dot"></span></h3>
              <p>Ratione animi iusto perspiciatis asperiores cum iste sequi earum beatae suscipit, dolor magnam est. Ipsum dignissimos.</p><a href="#" class="btn btn-dark-out">Apply Now</a>
            </div>
          </div>
        </div>
        <!-- end of row-->
      </div>
    </section>


