



    <!-- End Navigation Bar-->
    <section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="images/bg/15.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h1 class="upper">Pricing Plans<span class="red-dot"></span></h1>
                <h4>Pricing like it should be.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h4 class="upper">This is the way we do business.</h4>
          <h2>Prices<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-4">
              <div class="pricing-table">
                <div class="pricing-head"><i class="icon-lock"></i>
                  <h4 class="upper">Starter</h4>
                </div>
                <div class="price">
                  <h2><span>$</span>10<span>/m</span></h2>
                </div>
                <ul class="features nav">
                  <li><span>512MB</span> Memory</li>
                  <li><span>1 Core</span> Processor</li>
                  <li><span>20GB</span> SSD Disk</li>
                  <li><span>1TB</span> Transfer</li>
                </ul>
                <div class="pricing-footer"><a href="#" class="btn btn-color">Order Now</a>
                </div>
              </div>
              <!-- end of pricing table-->
            </div>
            <div class="col-md-4">
              <div class="pricing-table featured">
                <div class="pricing-head"><i class="icon-globe"></i>
                  <h4 class="upper">Medium</h4>
                </div>
                <div class="price">
                  <h2><span>$</span>20<span>/m</span></h2>
                </div>
                <ul class="features nav">
                  <li><span>1GB</span> Memory</li>
                  <li><span>2 Core</span> Processor</li>
                  <li><span>40GB</span> SSD Disk</li>
                  <li><span>10TB</span> Transfer</li>
                </ul>
                <div class="pricing-footer"><a href="#" class="btn btn-color">Order Now</a>
                </div>
              </div>
              <!-- end of pricing table-->
            </div>
            <div class="col-md-4">
              <div class="pricing-table">
                <div class="pricing-head"><i class="icon-trophy"></i>
                  <h4 class="upper">Premium</h4>
                </div>
                <div class="price">
                  <h2><span>$</span>40<span>/m</span></h2>
                </div>
                <ul class="features nav">
                  <li><span>4GB</span> Memory</li>
                  <li><span>4 Core</span> Processor</li>
                  <li><span>100GB</span> SSD Disk</li>
                  <li><span>100TB</span> Transfer</li>
                </ul>
                <div class="pricing-footer"><a href="#" class="btn btn-color">Order Now</a>
                </div>
              </div>
              <!-- end of pricing table-->
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <section class="dark">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="counter">
              <div class="counter-icon"><i class="icon-presentation"></i>
              </div>
              <div class="counter-content">
                <h5><span data-count="212" class="number-count">212</span><span class="red-dot"></span></h5><span>Projects</span>
              </div>
            </div>
            <!-- end of counter-->
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="counter">
              <div class="counter-icon"><i class="icon-beaker"></i>
              </div>
              <div class="counter-content">
                <h5> <span data-count="9060" class="number-count">9060</span><span class="red-dot"></span></h5><span>Lines of Code</span>
              </div>
            </div>
            <!-- end of counter-->
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="counter">
              <div class="counter-icon"><i class="icon-hourglass"></i>
              </div>
              <div class="counter-content">
                <h5><span data-count="75" class="number-count">75</span><span class="red-dot"></span></h5><span>Clients</span>
              </div>
            </div>
            <!-- end of counter-->
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="counter">
              <div class="counter-icon"><i class="icon-chat"></i>
              </div>
              <div class="counter-content">
                <h5><span data-count="872" class="number-count">872</span><span class="red-dot"></span></h5><span>Tweets</span>
              </div>
            </div>
            <!-- end of counter-->
          </div>
        </div>
        <!-- end of row-->
      </div>
      <!-- end of container-->
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h4 class="upper">Built for you.</h4>
          <h2>Features<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-sm-5">
                  <div class="icon-box-basic"><i class="icon-layers"></i>
                    <h4>Solid-State Drives</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                  <div class="icon-box-basic"><i class="icon-dial"></i>
                    <h4>Global Image Transfer</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                  <div class="icon-box-basic"><i class="icon-scope"></i>
                    <h4>DNS Management</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                </div>
                <div class="col-sm-5 col-md-offset-2">
                  <div class="icon-box-basic"><i class="icon-adjustments"></i>
                    <h4>Private Networking</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                  <div class="icon-box-basic"><i class="icon-linegraph"></i>
                    <h4>99.99% Uptime SLA</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                  <div class="icon-box-basic"><i class="icon-global"></i>
                    <h4>US and Europe locations</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, dolores. Eum laudantium.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <!-- Footer-->
